body, img, h1, div {
    border:0;
    padding:0;
    margin:0;
}

.sli1 {
    color: #32686B;
    font-family: 'Karla', sans-serif;
    font-size: 80px;
    margin-left: 700px;
    margin-bottom: 200px;
}

.sli2{
    color: #0100ff;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin-left: -90px;
    text-align: justify;
}

.sli3 {
    color: deeppink;
    font-family: 'Karla', sans-serif;
    font-size:30px;
    line-height: 2px;
    margin-left: -500px;
    margin-bottom:400px;
}

.sli4 {


    color: #9EB986;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    line-height: 2px;
    margin-left: 20%;
    margin-bottom: 5%;
}

.sli5{
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    margin-left:-800px;
    line-height: 2px;
    margin-bottom: 50px;
}

.sli6{
    color: #416001;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    text-align: justify;
    line-height: 30px;
    margin-left: -90px;
}

.sli7{
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    line-height: 2px;
    margin-bottom: 50px;
}

#myCarousel.carousel {
    height: 600px;
}

.carousel-inner.config-size{
    height: 100%;
}

.carousel-inner.config-size .item{
    height: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.textimg2{

    font-family: 'Karla', sans-serif;
    color:#44829D;
    font-size: 75px;
}

.navbar-right-icons {
    text-align: center;
    margin: 0 20px 0 20px;
}

.navbar-brand {
    margin:0;
    padding: 0;
}
.navbar-image {
    height:48px;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top:0;
    right:0;
}

.vertical-align-center {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.active {
    text-align: center;
}


.icon-text {
    display: none;
}

.footer-relative {
    position: relative;
    top:0;
    right:0;
}
.footer-download-image {
    width:140px;
    right: 0;
}


@media screen and (max-width: 900px) {
    .sli1, .sli2, .sli3, .sli4, .sli5, .sli6, .sli7 {
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        line-height: 0;
        margin-left: 0;
        margin-bottom: 45px;
    }
    .sli1, .sli3, .sli4, .sli6 {
        color: black;
    }
    .icon-text {
        vertical-align: middle;
        display: inline-block;
    }

    .fa.fa-3x.hide-when-small {
        display: none;
    }

    .navbar-right {
        background-color: #e7e7e7;
    }

}


@media screen and (min-width: 768px) {
    .hide-on-desktop {
        display: none;
    }
}

.harvardImage {
    width:auto;
    height:140px;

}

@media screen and (max-width: 400px) {
    .harvardImage {
        width: 200px;
        height: auto;
    }
}

