.navbar-right-icons {
    text-align: center;
    margin: 0px 20px 0px 20px;
}


.navbar-image {
    height: 51px;
    width: auto;
    margin: 0;
    padding: 0;
}

.navbar-increased-height {
    height: 100px;
}